<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     {{ partial "header" (dict "Kind" .Kind "Template" "List") }}
     {{.Content}}
     {{ range .Pages }}
          <div style="border: 1px solid black; margin:10px; padding:10px; ">
               <div style="font-size:20px;">
                    <a href="{{.URL}}">{{.Title}}</a>
               </div>
               <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>

               {{ if .Params.tags }}
               <div style="color:grey; font-size:16px;"><strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
               {{end}}

               {{ if .Params.categories }}
               <div style="color:grey; font-size:16px;"><strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
               {{end}}

               {{ if .Params.genres }}
               <div style="color:grey; font-size:16px;"><strong>genres:</strong> {{range .Params.genres}}<a href="{{ "/genres/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
               {{end}}

               {{ if .Params.difficulte }}
               <div style="color:grey; font-size:16px;"><strong>Difficulté :</strong> {{range .Params.difficulte}}<a href="{{ "/difficulte/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
               {{end}}

               {{/*
               <p style="font-size:18px;">{{.Summary}}</p>
               */}}
          </div>
     {{ end }}
     {{ partial "footer" . }}
</body>
</html>
