/**
 * BASE
 */

main {
  margin: auto;
  width: 90vw;
  max-width: 960px;
}

section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

/**
 * COMPONENTS
 */
.cta {
  padding: 1em;
  border: 1px solid;
}

/**
 * UTILS
 */
.lead {
  font-size: 1.2em;
}
